.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-cards{
  
  padding-left: 80px;
  padding-right: 80px;
  padding-top:  80px;
  display: flex;
  justify-content: space-evenly;
}

.article{
  display: grid;
  
}

.trend{
  font-size: 25px;
  padding-top: 50px;
  padding-left: 50px;

}

.trend-cards{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 25px;
}

.article1{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
}

.buttons{
  position: relative;
  float: right;
  padding-right: 100px;
  font-size: 3rem;
}

.login{
  display: flex;
  justify-items: center;
  padding-left: 663px;
  padding-top: 100px;
  flex-direction: column;
}

.register{
  margin: 5px;
  margin-right: 800px;
}

